/*==============*/
/*BASIC SETUP*/
/*==================*/

*{
    margin: 0;
    padding: 0;
    box-sizing:
}
 
body{
    font-family: 'Titillium Web', sans-serif;
}

ul li{
    list-style-type: none;
}


/*BUTTON*/
.btn:link,
.btn:visited
.btn{ 
    background-color: #333;
    border-bottom: .3rem solid #0000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 3rem;
    border-radius:  .3rem;
    display: inline-block;
    margin-top: .4rem;
}
/*HEADING*/
h1{
    font-size: 1.8rem;;
    color: #fff; 
}
/* ====================== */
/*REUSABLE COMPONENTS*/
/* ======================= */

.row{
    max-width: 1140px;
    margin: 0 auto;
}


/* ====================== */
/* HEADER SECTiON */
/* ======================= */

header{
  	background:linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)),
		url(./img/hero-bg.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
}
.logo{
    height: 2.5rem;
    width: auto;
    margin-top: 2.0rem;
    float: left;
    position: relative;
}


/*MAIN NAVIGATION*/
.main-nav{
    float: right;
}

.main-nav li{
 display: inline-block;
    margin-top: 4.rem;
    margin: 1rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
 
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(100, 58, 121, 0.0);
    padding: .6rem 1.0rem;
    border-radius: .3rem;
   display:inline-block;
    font-size: .9rem;
    transition: .3s
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
   background-color: rgba(100, 58, 121, 1); 
}
.active{
    background-color: rgba(100, 58, 121, 1); 
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn-hero:link,
.btn:visited
.btn-hero{
    background: #eb7d4b;
    border-color: #c86a40;
    
}
.btn-hero{
    color: white;
}
.btn:hover{
	opacity: .7;
	transition: 2s;
}


/* ========== SERVICES SECTION ============ */

